@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-image: linear-gradient(to left, #24BCE0, #24E087);
    height: 100%;
    text-align: center;
}
main{
    background-color: white;
    border-radius: 20px;
    box-shadow: 10px 10px 20px #0b424da0;
    width: 1000px;
    padding: 15px;
    margin: auto;
    text-align: left;
}
h1 {
    color: #614A40;
    text-align: center;
    text-shadow: 1px 1px 1px #3e2f29c1;
    font-size: 50px;
}
h2 {
    color: #E05D23;
    font-size: 30px;
    text-align: left;
}
h3 {
    color: #E05D23;
}
p{
    text-align: justify;
}
#primeiro {
    font-weight: bolder;
    color: #24E087;
}
