@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-image: linear-gradient(to left, #24BCE0, #24E087);
    height: 100%;
    text-align: center;
}
main{
    background-color: white;
    border-radius: 20px;
    box-shadow: 10px 10px 20px #0b424da0;
    width: 1000px;
    padding: 15px;
    margin: auto;
    text-align: left;
    margin-top: 50px;
}
h1 {
    color: #614A40;
    text-align: center;
    text-shadow: 1px 1px 1px #3e2f29c1;
    font-size: 50px;
}
h2 {
    color: #E05D23;
    font-size: 30px;
    text-align: left;
}
h3 {
    color: #E05D23;
}
p{
    text-align: justify;
}
#primeiro {
    font-weight: bolder;
    color: #24E087;
}
a.titulo{
    text-decoration: none;
}
a.titulo:visited {
    color: #E05D23;
}
a.titulo:hover {
    color: #E05D23;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.377);
}
table.tabela1 {
    width: 300px;
    height: 250px;
    border-collapse: collapse;  
    text-align: center;        
}
td {
    border: 1px solid black;
    padding: 8px;
    vertical-align: top;
}
table.tabela2 {
    width: 300px;
    height: 150px;
    border-collapse: collapse;  
    text-align: center;        
}
pre#grande {
    text-transform: uppercase;
}
img.exemplo {
    width: 500px;
}
img.mdq {
    width: 800px;
}
img#relacionar{
    width: 600px;
}
section > ul {
    list-style-type: '\2736';        
}
section > ul > li > img.form {
    width: 600px;
}